/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 25px auto;
  padding: 15px;
}

.app-container {
  font-family: Arial, sans-serif;

  span {
    display: flex;
    border-bottom: 1px solid #eee;
  }

  #content {
    width: 85%;
    height: 320px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 35px #fff;
  }
}

/* home component */
.container {

  .register-form {
    width: 90%;
    max-height: 320px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    h1 {
      font-size: 16px;
      font-style: italic;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 25px gray inset;

      img {
        max-width: 140px !important;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      background-color: transparent;
      color: rgb(43, 43, 43);
      outline: none;
      border: none;
      border-bottom: 2px solid gray;
      cursor: pointer;
    }

    label {
      margin-top: 5px;
    }

    input[type="submit"],
    input[type="reset"] {
      border: none;
      border-bottom: 2px solid black;
      background: linear-gradient(
        to right,
        gray 0%,
        lightgray 100%
      );
      cursor: pointer;
    }
  }

  .values {
    width: 80%;
    height: auto;
    padding: 10px;
  }
}
